<% include partials/header %>

<h1>This is the campgrounds page!</h1>

<a href="/campgrounds/new">Add New Campground</a>

<% campgrounds.forEach(function(campground) { %>
    <div>
        <h4>
            <%= campground.name %>
            <img src=" <%= campground.image %>">
        </h4>
    </div>
<% }) %>

<a href="/campgrounds">Go Back</a>

<% include partials/footer %>
